@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Poppins&family=Roboto+Condensed:wght@300;400&display=swap");
/*PaLeta de Colores */
/*NAV START*/
.navbar-dark .navbar-nav .nav-link {
  color: #038C3E;
  font-family: "Poppins", sans-serif; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  background-color: #2a8653;
  border-radius: 10px; }

.fondo-nav {
  background-color: #F2F2F2; }

/* END NAV */
/* JUMBOTRON START */
.jumbotron {
  background-image: url(../images/banner-3.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  color: black;
  text-shadow: 0px 1px  #A0AFA0;
  border-radius: 0;
  margin-bottom: 0; }
  .jumbotron h1 {
    font-weight: bolder;
    font-family: "Lobster Two", cursive; }
  .jumbotron p {
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif; }

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); } }

.jumbotron .btn-outline-success {
  background-color: #038C3E;
  color: #fff;
  border-color: #fff; }

.pagos {
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 100px; }

.pagos h4 {
  margin: 35px; }

.pagos i {
  font-size: 70px;
  margin-top: 20px;
  color: #000; }

/* Productos START */
@media screen and (max-width: 986px) {
  .pagos {
    font-size: 10px; } }

.container-fluid {
  align-self: center; }

.card img {
  height: 300px;
  width: 200px;
  align-self: center; }

.card img:hover {
  transform: scale(1.2);
  transition: all 2s; }

.card-body .btn {
  background-color: #000;
  border: #fff solid;
  border-radius: 20px; }

@media screen and (max-width: 762px) {
  .card img {
    display: flex;
    align-self: center; } }

/*FOOTER START*/
footer {
  width: 100%;
  padding: 50px 0px;
  font-family: 'Nunito', sans-serif;
  background-size: cover; }

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding-top: 100px; }

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px; }
  .box__footer .logo img {
    width: 120px; }
  .box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px; }
  .box__footer .footer-h2 {
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
    background-color: #fff; }
  .box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600; }
  .box__footer a:hover {
    opacity: 0.8; }
  .box__footer a .fab {
    font-size: 20px; }

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }
  .box__copyright p {
    margin-top: 20px;
    color: #7a7a7a; }
  .box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a; }

/* Nosotros Start */
h2 {
  text-align: center;
  background-color: #78BF97;
  color: #fff;
  padding: 20px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  width: 100%; }

.nosotros {
  height: 500px;
  width: 100%;
  background-color: white;
  text-align: center;
  font-family: "Poppins", sans-serif; }

.quienesomos {
  padding: 10px;
  font-family: "Lobster", cursive; }

.FrenteJMR {
  border-width: 1px;
  border-style: Solid;
  margin: 0px 5px;
  width: 500px;
  height: 400px; }

.FrenteJMR:hover {
  transform: scale(1.1);
  transition: all 2s; }

/* Nosotros END */
/*CONTACTO.HTML START*/
.contacto {
  background: #78BF97;
  width: 500px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 100px;
  border-radius: 7px; }

.footer-h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  background-color: #78BF97;
  font-family: "Poppins", sans-serif; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

textarea {
  min-height: 100%;
  max-height: 100px;
  max-width: 100%; }

#boton {
  background: #808080;
  color: #fff;
  padding: 20px;
  border-radius: 15px; }

#boton:hover {
  cursor: pointer;
  background: #038C3E; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

/*CONTACTO END*/
