.navbar-dark .navbar-nav .nav-link {
    color: #038C3E;
    font-family: 'Lobster', cursive;
    font-family: 'Rubik', sans-serif;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: white;
    background-color: #2a8653;
    border-radius: 10px;
}

.fondo-nav{
    background-color: #F2F2F2;
}
/* Fin de Nav */
/* Jumbotron Start */

.jumbotron{
    background-image: url(/images/banner-3.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    color: black;
    text-shadow: 0px 1px  #A0AFA0;
    border-radius: 0;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Rubik', sans-serif;
}
.jumbotron h1{
    font-weight: bolder;
}

.jumbotron p{
    font-size: 30px;
}
.slide-right{-webkit-animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) forwards;animation:slide-right .5s cubic-bezier(.25,.46,.45,.94) forwards}
@-webkit-keyframes slide-right{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(100px);transform:translateX(100px)}}@keyframes slide-right{0%{-webkit-transform:translateX(0);transform:translateX(0)}100%{-webkit-transform:translateX(100px);transform:translateX(100px)}}

h2 {
    text-align: center;
    background-color: #78BF97;
    color: white;
    padding: 20px;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Rubik', sans-serif;
}

.jumbotron .btn-outline-success{
    background-color: #038C3E;
    color:rgba(255, 255, 255, 0.918);
    border-color: white;

}
/* Nosotros Start */

.nosotros {
    height: 500px;
    width: 100%;
    background-color: white;
    text-align: center;
}

h3{
    padding: 10px;
}
/* Nosotros END */
/* Productos */
.card img{
    height: 300px;
    width: 200px;
    align-self: center;
}

.card img:hover{
    transform: scale(1.2);
    transition: all 2s;
}

.card-body .btn{
    background-color: #038C3E;
    border: white solid;
    border-radius: 20px;
}

/*FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("../Images/background-footer.svg");
    background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


.contacto {
    background: #2a8653;
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 7px;
}

/*contacto*/

.box__footer .footer-h2 {
    color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    background-color: white;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100%;
    max-height: 100px;
    max-width: 100%;
}

#boton {
    background: rgba(0, 0, 0, 0.918);
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
    background: rgba(5, 5, 5, 0.5);
}


/*Producto*/

.container__article2 .box__article2 img{
    width: 250px;
    height: 300px;
    background-color: #2a8653;
    margin: 20px;
    border-radius: 8px;
}

.container__article2 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    margin: 5%;
    grid-gap: 30px;
}

.body__text2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #2a8653;
    border-radius: 8px;
    color: white;
}

@media screen and (max-width: 760px){
    .container__article2{
        max-width: 1000px;
        padding: 0px 20px;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
}